[submodule "wombat"]
	path = wombat
	url = https://github.com/mklinik/sup-colorscheme-wombat.git
[submodule "redtide"]
	path = redtide
	url = https://github.com/schmeisers/sup-colors-redtide.git
[submodule "lucius"]
	path = lucius
	url = https://github.com/madhat2r/sup-colors-lucius.git
[submodule "molokai"]
	path = molokai
	url = https://github.com/madhat2r/sup-colors-molokai.git
[submodule "zenburn"]
	path = zenburn
	url = https://github.com/madhat2r/sup-colors-zenburn.git
