[submodule "wombat"]
	path = wombat
	url = https://github.com/mklinik/sup-colorscheme-wombat.git
[submodule "redtide"]
	path = redtide
	url = https://github.com/schmeisers/sup-colors-redtide.git
[submodule "lucius"]
	path = lucius
	url = git@github.com:madhat2r/sup-colors-lucius.git
